#carousel{
    width: 100vh;
}
#items{
    height: 93vh;
    
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.item{
    flex: none;

    width: 100%;
    height: 100%;
    scroll-snap-align:start;

}
.container img{
    width: 100%;
    height: 86vh;
    object-fit: cover;
    margin-top: 2rem;
}